<form action="/models" method="GET">
  <p>
    <label>Escolha a Fabricante:</label>
    <select name="brand_id">
      <% @brands.each do |brand| %>
        <option value="<%= brand.id %>"><%= brand.name %></option>
      <% end %>
    </select>
  </p>

  <input type="submit" value="Buscar modelos">
</form>
